{% extends "blog/base.html" %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p>by {{ post.author }} on {{ post.published_date|date:"F j, Y" }}</p>
    <p>{{ post.content }}</p>

    <p>Categories:
        {% for category in post.categories.all %}
            <span>{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>

    <h3>Comments</h3>
    {% if post.comments.all %}
        <ul>
            {% for comment in post.comments.all %}
                <li>
                    <strong>{{ comment.author }}</strong> said on {{ comment.created_date|date:"F j, Y" }}:
                    <p>{{ comment.text }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
{% endblock %}


